
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="container">
    <div>
        <label>Ingrese nombre: </label>
        <input type="text" placeholder="Ingresa tu nombre"/>
        <button class="btn btn-outline-primary">Enviar</button>
    </div>  
    <label>Hola</label>
</div>