
@{
    ViewBag.Title = "Turnos";
}

<link href="~/Content/mis-estilos.css" rel="stylesheet" />
<link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/jquery-ui.structure.min.css" rel="stylesheet" />
<link href="~/Content/jquery-ui.theme.min.css" rel="stylesheet" />

<h1 class="text-center">Turnos</h1>

<div class="container">
    <label class="form-label">Ingrese el día: </label>
    <input id="datepicker" class="form-control" />
</div>

<div id="tabla-clase" class="mt-4">

</div>

<button id="btnAgregar" type="button" class="btn btn-success px-4" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Agregar
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body contenedor-modal">
                <label class="mb-2">ID: </label>
                <input id="txtID" type="text" class="form-control limpiarCampo w-25 mb-2" disabled />

                <input id="IDPersona" type="text" style="display:none" />
                <input id="IDDiaHorario" type="text" style="display:none" />

                <label class="mb-2 campo0">Nombre: </label>
                <input id="txtNombre" type="text" class="form-control limpiarCampo habilitarCampo deshabilitarCampo required mb-2" />

                <label class="mb-2 campo1">Apellido: </label>
                <input id="txtApellido" type="text" class="form-control limpiarCampo habilitarCampo deshabilitarCampo required mb-2" />

                <label class="mb-2 campo2">Obra social: </label>
                <select id="comboOS" class="form-select limpiarCampo habilitarCampo deshabilitarCampo required mb-2">
                </select>

                <label class="mb-2 campo3">Teléfono: </label>
                <input id="txtTelefono" type="tel" class="form-control limpiarCampo habilitarCampo deshabilitarCampo required mb-2" />

                <label class="mb-2 campo5">Correo: </label>
                <input id="txtCorreo" type="email" class="form-control limpiarCampo habilitarCampo deshabilitarCampo mb-2" />

                <label class="mb-2 campo4">Hora: </label>
                <select id="comboHoras" class="form-select limpiarCampo habilitarCampo deshabilitarCampo required mb-2">
                </select>
            </div>
            <div class="modal-footer">
                <button id="btnCancelar" type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cancelar</button>
                <button id="btnAceptar" onclick="confirmarCambios()" type="button" class="btn btn-success">Aceptar</button>
            </div>
        </div>
    </div>
</div>


<script src="~/Scripts/jquery-3.6.0.min.js"></script>
<script src="~/Scripts/jquery-ui.min.js"></script>
<script src="~/Scripts/datepicker-es.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
<script src="~/Scripts/turnos.js"></script>
