<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Consultorio traumatológico</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/navbar.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="icon" type="image/jpg" href="~/favicon.png" />
</head>
<body>
    <nav class="navbar navbar-expand-custom navbar-mainbg">
        <a class="navbar-brand navbar-logo me-5" href="/Pacientes">
            <img src="~/logo1.png" alt="Logo" width="300" height="40">
        </a>
        <div id="navbtn">
            <button class="navbar-toggler btn-close-white" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="bi bi-list"></i>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <div class="hori-selector">
                    <div class="left"></div>
                    <div class="right"></div>
                </div>
                <li class="nav-item">
                    <a class="nav-link" href="/Turnos"><i class="bi bi-calendar3"></i>Turnos</a>
                </li>
                <li class="nav-item" id="navPac">
                    <a class="nav-link" href="/Pacientes"><i class="bi bi-person"></i>Pacientes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/DiasHorarios"><i class="bi bi-clock"></i>Horarios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/ObrasSociales"><i class="bi bi-file-medical"></i>Obras sociales</a>
                </li>
            </ul>
        </div>
    </nav>


    <div id="page-container" class="mt-4">
        <div id="content-wrap" class="container-fluid body-content">
            @RenderBody()
            <hr class="mb-1" />
            <br />
        </div>
        <footer id="footer" class="text-center bg-dark text-white d-flex align-items-center justify-content-center">
            <p id="footerText" class="m-0" style="font-size: 1.1rem">&copy; @DateTime.Now.Year - Martín Sola</p>
        </footer>
    </div>

    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="~/Scripts/navbar.js"></script>

</body>
</html>