
@{
    ViewBag.Title = "Contacto";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<link href="~/Content/contacto.css" rel="stylesheet" />

<h1 class="text-center mb-5">¿Dónde atiendo?</h1>
<div class="d-flex flex-row row mx-auto justify-content-center">
    <div class="card me-sm-4 col-4 mb-4" style="width: auto;">
        <div class="card-body d-flex flex-column justify-content-center">
            <h4 class="card-title fw-bold mb-2">Consultorio particular</h4>
            <p class="tag tag-purple mb-4"><i class="bi bi-geo-alt"></i> San Carlos Centro</p>
            <div class="p-0" style="height: 300px; width: 100%">
                <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13573.504057203798!2d-61.091161!3d-31.732936!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xba0a3429181aa295!2sConsultorio%20de%20Traumatologia%20y%20Ortopedia%20Doctor%20Sola!5e0!3m2!1ses-419!2sar!4v1660843032167!5m2!1ses-419!2sar" width="400" height="300" style="border:0;" allowfullscreen="" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <p class="card-text">
                Almafuerte 384, San Carlos Centro <br />
                Tel. fijo: 03404-420923
            </p>
            <br />
            <p class="card-text">
                Para consultas al WhatsApp <br />
                <a class="btn btn-success mt-2" href="https://wa.me/5493404520532" target="_blank">Enviar mensaje</a>
            </p>
        </div>
    </div>
    <div class="card me-sm-4 col-4 mb-4" style="width: auto;">
        <div class="card-body d-flex flex-column justify-content-start">
            <h4 class="card-title fw-bold mb-2">Sanatorio San Jerónimo Norte</h4>
            <p class="tag tag-purple mb-4"><i class="bi bi-geo-alt"></i> San Jerónimo Norte</p>
            <div class="p-0" style="height: 300px; width: 100%">
                <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13599.547510511158!2d-61.078156!3d-31.554719!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4c6fa9d6198ca647!2sSanatorio%20San%20Jer%C3%B3nimo%20Norte!5e0!3m2!1ses-419!2sar!4v1660846759442!5m2!1ses-419!2sar" width="400" height="300" style="border:0;" allowfullscreen="" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <p class="card-text">
                1 de Mayo 411, San Jeronimo Norte <br />
                Tel. fijo: 03404-460397
            </p>
        </div>
    </div>
    <div class="card me-sm-4 col-4 mb-4" style="width: auto;">
        <div class="card-body d-flex flex-column justify-content-start">
            <h4 class="card-title fw-bold mb-2">Grupo Sigma Salud</h4>
            <p class="tag tag-purple mb-4"><i class="bi bi-geo-alt"></i> Gálvez</p>
            <div class="p-0" style="height: 300px; width: 100%">
                <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6764.70085298168!2d-61.219696!3d-32.032705!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x73de3ae9671a4c21!2sGrupo%20Sigma%20Salud!5e0!3m2!1ses-419!2sar!4v1660846458545!5m2!1ses-419!2sar" width="400" height="300" style="border:0;" allowfullscreen="" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <p class="card-text">R. F. Coulin 642, Gálvez</p>
            <p class="card-text">Tel. fijo: 03404-431700</p>
        </div>
    </div>
    <div class="card me-sm-4 col-4 mb-4" style="width: auto;">
        <div class="card-body d-flex flex-column justify-content-start">
            <h4 class="card-title fw-bold mb-2">Sanatorio Premed</h4>
            <p class="tag tag-purple mb-4"><i class="bi bi-geo-alt"></i> Franck</p>
            <div class="p-0" style="height: 300px; width: 100%">
                <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3398.723915536272!2d-60.93918800000001!3d-31.586617999999998!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x696edf6882933c1e!2sSanatorio%20PREMED%20S.A.!5e0!3m2!1ses-419!2sar!4v1660846566619!5m2!1ses-419!2sar" width="400" height="300" style="border:0;" allowfullscreen="" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <p class="card-text">
                Miguel Manfredi 2029, Franck <br />
                Tel. fijo: 0342-4930365
            </p>
        </div>
    </div>
    <div class="card me-sm-4 col-4 mb-4" style="width: auto;">
        <div class="card-body d-flex flex-column justify-content-start">
            <h4 class="card-title fw-bold mb-2">Sanatorio Franck</h4>
            <p class="tag tag-purple mb-4"><i class="bi bi-geo-alt"></i> Franck</p>
            <div class="p-0" style="height: 300px; width: 100%">
                <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3398.6851794058425!2d-60.938627000000004!3d-31.58768!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc99422daf052b14!2sSANATORIO%20FRANCK!5e0!3m2!1ses-419!2sar!4v1660846681088!5m2!1ses-419!2sar" width="400" height="300" style="border:0;" allowfullscreen="" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <p class="card-text">
                Alberdi 1965, Franck <br />
                Tel. fijo: 0342-4930442
            </p>
        </div>
    </div>

</div>


<script src="~/Scripts/jquery-3.6.0.min.js"></script>