
@{
    ViewBag.Title = "Obras Sociales";
}

<link href="~/Content/mis-estilos.css" rel="stylesheet" />
<link href="~/Content/jquery-ui.min.css" rel="stylesheet" />

<h1 class="text-center">Obras Sociales</h1>
<div class="container-fluid d-flex">
    <div class="row me-4 col-3">
        <label class="form-label">Ingrese el nombre: </label>
        <input type="text" id="filtroNombre" class="form-control" placeholder="Obra social a buscar" />
    </div>
    <div class="row me-4 col-3">
        <label class="form-label">Filtar por: </label>
        <select id="filto-habilitado" class=" form-select">
            <option value="" disabled selected>Seleccione una opción</option>
            <option value="1">Habilitada</option>
            <option value="0">Deshabilitada</option>
        </select>
    </div>
    <div class="row d-flex align-items-end">
        <input type="button" class="btn btn-outline-dark" id="limpia-filtro" value="Limpiar" style="max-height:3rem" />
    </div>
</div>

<div id="tabla-clase" class="mt-4">

</div>


<button id="btnAgregar" type="button" class="btn btn-success px-4" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Agregar
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body contenedor-modal">
                <label class="mb-2">ID: </label>
                <input id="txtID" type="text" class="limpiarCampo w-25 mb-2" disabled />
                <label class="mb-2 campo0">Nombre: </label>
                <input id="txtNombre" type="text" class="limpiarCampo habilitarCampo deshabilitarCampo required mb-2" />
                <label>Habilitada: </label>
                <div>
                    <input id="checkHabilitada" class="habilitarCampo deshabilitarCampo" type="checkbox" style="transform:scale(1.25)" />
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnCancelar" type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cancelar</button>
                <button id="btnAceptar" onclick="confirmarCambios()" type="button" class="btn btn-success">Aceptar</button>
            </div>
        </div>
    </div>
</div>


<script src="~/Scripts/jquery-3.6.0.min.js"></script>
<script src="~/Scripts/jquery-ui.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
<script src="~/Scripts/obra-social.js"></script>